body {
	font-family: sans-serif;
	font-size: 12px;
}

/* ----- Theme overrides ----- */
.ui-state-error {
   color: black !important;
}

.panel-grid tr, .panel-grid td {
	border: none !important;
}

/* ----- Header ----- */
#header {}

#header #logo {}

#header #greeting {
	font-weight: bold;
	margin-top: 80px;
	margin-right: 5px;
	float: right;
}

#header #toolbar {
	margin-bottom: 5px;
}

/* ----- Page Title ----- */
#page-title {
	margin-left: 5px;
}

/* ----- Content ------ */
#content {
	
}

/* ----- Footer ----- */
#footer {
	padding-top: 5px;
	clear: both;
}

/* ---------------------------------- Common ---------------------------------------- */
/* ----- Data Grid ----- */
 #content #data-grid-header {
 	padding: 5px 0px 5px 5px;
 }
 

/* ---------------------------------- Custom ----------------------------------------- */

/* ----- Login ----- */
.login-panel {
	margin-bottom: 5px; 
	width: 500px;
}

/* ----- Register ----- */
#content .person-panel, #content .account-panel, #content .address-panel {
	width: 600px;
	margin-bottom: 5px;
}

/* ----- Account ----- */
#content .customer-info-panel, #content .history-panel {
	width: 300px;
	float: left;
}

#content .customer-info-panel {
	margin-right: 5px;
}

/* ----- Add Address -----*/
#content .add-address-panel {
	width: 600px;
	margin-bottom: 5px;
}

/* ----- Add Account (Administration) ----- */
#content .add-account-panel {
	width: 600px;
	margin-bottom: 5px;
}



/* ----- Shopping Cart Page ----- */
#content #shopping-cart-grid {
	width: 1000px;
}

#content #shopping-cart-grid .item-description {
	text-align: left;
	width: 600px;
}

#content #shopping-cart-grid .quantity {
	text-align: left;
	width: 100px;
}

#content #shopping-cart-grid .unit-price {
	text-align: left;
	width: 100px;
}

#content #shopping-cart-grid .sub-total {
	text-align: left;
	width: 100px;	
}
