
#register .person-panel, #register .account-panel, #register .address-panel {
	width: 700px;
	margin-bottom: 10px;
}

.page-header-toolbar {
	font-size: 20px;
	margin-bottom: 10px;
	width: 700px
	
}

.customer-info-panel, .history-panel {
	width: 300px;
}

.login-panel {
	margin-bottom: 10px; 
	width: 500px;
}