body {
	font-size: 12px;
	font-family: sans-serif;
}

.side-navigation {
	width: 200px;
	float: left;
	display: block;
	font-size: 12px;
}

.panel-grid tr, .panel-grid td {
	border: none !important;
}
