body {
	font-size: 12px;
	font-family: sans-serif;
}



/* Header */
.greeting {
	font-family: sans-serif;
	font-size: 14px;
	margin-top: 80px;
	margin-right: 5px;
	float: right;
}

.header-toolbar {
	margin-bottom: 10px;
}

.side-navigation {
	width: 200px;
	float: left;
	display: block;
	font-size: 12px;
}

#register .person-panel, #register .account-panel, #register .address-panel {
	width: 700px;
	margin-bottom: 10px;
}

.page-header-toolbar {
	font-size: 20px;
	margin-bottom: 10px;
	width: 700px
	
}

.customer-info-panel, .history-panel {
	width: 300px;
}

.login-panel {
	margin-bottom: 10px; 
	width: 500px;
}